.deriv-dropzone__container {
    background-color: var(--du-general-active,#D6DADB);
    border: 1px dashed var(--du-general-border,#B0B0B0);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}